In [2]:
import flask, pandas as pd

data = pd.read_csv('./data/archive/Future50.csv').head(n=2)

data

# app = flask.Flask(__name__)

# @app.route('/', methods=['GET'])
# def get_all():
#     res = flask.jsonify(data)
#     res.headers.add('Access-Control-Allow-Origin', '*')
#     return res

# @app.route('/<string:col>', methods=['GET'])
# def get_column(col):
#     res = flask.jsonify(data[col]) if col in data.keys() else 'not a col'
#     res.headers.add('Access-Control-Allow-Origin', '*')
#     return res

# if __name__ == '__main__':
# 	app.run('127.0.0.1', 5000)

,Rank,Restaurant,Location,Sales,YOY_Sales,Units,YOY_Units,Unit_Volume,Franchising
0,1,Evergreens,"Seattle, Wash.",24,130.5%,26,116.7%,1150,No
1,2,Clean Juice,"Charlotte, N.C.",44,121.9%,105,94.4%,560,Yes

In [6]:
data.to_json()

ValueError: 'index=False' is only valid when 'orient' is 'split' or 'table'

In [4]:
data.columns

Index(['Rank', 'Restaurant', 'Location', 'Sales', 'YOY_Sales', 'Units',
       'YOY_Units', 'Unit_Volume', 'Franchising'],
      dtype='object')